In [1]:
import pandas as pd
import numpy as np

In [4]:
def format1(x):
    # print('X--', x)
    x = x.strip()
    s = x.split('$')
    s = [n for n in s if len(n)>1]
    if x.startswith('$$$'):
        return [0,0,0,0,0]
    return [s[0], s[1], s[2], s[3], s[-1]]

def outcome(x):
    if x=='Blue':
        return 'LOSE'
    if x=='Red':
        return 'WIN'
    else:
        return 'TIE'

In [5]:
string = ''
with open('/Users/k/Downloads/output.log','r') as fr:
    for line in fr:
        if (line.__contains__('/Users/k/') == False) and line.__contains__('{}') == False and line.__contains__('DATA') == False:
            string = string + line.replace('\n', '$')

In [6]:
arr = string.split('= = = = = = = = = = = = = = = =')

In [8]:
def findr(x):
    return len(x.split('$'))

In [9]:
Narr = []

In [10]:
for item in arr:
    if item.endswith('starts$'):
        print(item,'\n')
    else:
        Narr.append(item)

$FIXEDtestCapture$h3$myTeamAStar$$$Blue team starts$

$FIXEDtestCapture$h3$baselineTeam$$$Red team starts$

$FIXEDtestCapture$h3$mcts$$$Blue team starts$

$FIXEDtestCapture$h3$leeroy$$$Red team starts$

$FIXEDmediumCapture$h3$MDP.v4.1$$$Red team starts$

$FIXEDtestCapture$h3$MDP.v4.1$$$Red team starts$

$FIXEDtestCapture$h3$MDPv2$$$Blue team starts$

In [11]:
Parr=[]
for item in Narr:
    if len(item)<50:
        print(len(item))
    else:
        Parr.append(item)

21

In [12]:
format1('$RANDOM841$MDP.v2$leeroy$$$1$Blue team starts$Time is up.$The Red team wins by 18 points.$')
Parr

['RANDOM841',
 'MDP.v2',
 'leeroy',
 'Blue team starts',
 'The Red team wins by 18 points.']

In [14]:
D= []
for item in Parr:
    D.append(format1(item))

In [41]:
df= pd.DataFrame.from_records(D, columns=('MAP', 'RED_TEAM','BLUE_TEAM','TEAM_START','RESULT'))

In [42]:
def result(x):
    s=[]
    #print(x.split(' '))
    if 'Tie' in x:
        return [0, 0]
    elif 'returned' in x:
        s = x.split(' ')
        return [s[1], s[7]]
    else:
        s = x.split(' ')
        return [s[1], s[5]]

In [43]:
df.head()

,MAP,RED_TEAM,BLUE_TEAM,TEAM_START,RESULT
0,FIXEDalleyCapture,h3,myTeamAStar,Red team starts,The Red team wins by 5 points.
1,FIXEDbloxCapture,h3,myTeamAStar,Red team starts,The Red team wins by 10 points.
2,FIXEDcrowdedCapture,h3,myTeamAStar,Blue team starts,The Red team wins by 12 points.
3,FIXEDdefaultCapture,h3,myTeamAStar,Red team starts,Tie game!
4,FIXEDdistantCapture,h3,myTeamAStar,Red team starts,Tie game!

In [44]:
df['WINNER'] = df['RESULT'].apply(lambda f: result(f)[0])
df['POINTS'] = df['RESULT'].apply(lambda f: result(f)[1])
df['OUTCOME'] = df['WINNER'].apply(lambda f: outcome(f))

In [45]:
df.head()

,MAP,RED_TEAM,BLUE_TEAM,TEAM_START,RESULT,WINNER,POINTS,OUTCOME
0,FIXEDalleyCapture,h3,myTeamAStar,Red team starts,The Red team wins by 5 points.,Red,5,WIN
1,FIXEDbloxCapture,h3,myTeamAStar,Red team starts,The Red team wins by 10 points.,Red,10,WIN
2,FIXEDcrowdedCapture,h3,myTeamAStar,Blue team starts,The Red team wins by 12 points.,Red,12,WIN
3,FIXEDdefaultCapture,h3,myTeamAStar,Red team starts,Tie game!,0,0,TIE
4,FIXEDdistantCapture,h3,myTeamAStar,Red team starts,Tie game!,0,0,TIE

In [46]:
df.drop(columns=('RESULT'),axis=1, inplace=True)

In [47]:
df.head()

,MAP,RED_TEAM,BLUE_TEAM,TEAM_START,WINNER,POINTS,OUTCOME
0,FIXEDalleyCapture,h3,myTeamAStar,Red team starts,Red,5,WIN
1,FIXEDbloxCapture,h3,myTeamAStar,Red team starts,Red,10,WIN
2,FIXEDcrowdedCapture,h3,myTeamAStar,Blue team starts,Red,12,WIN
3,FIXEDdefaultCapture,h3,myTeamAStar,Red team starts,0,0,TIE
4,FIXEDdistantCapture,h3,myTeamAStar,Red team starts,0,0,TIE

In [23]:
df.to_csv('/Users/k/Desktop/runs/H3_parachange.csv', index=False)

In [30]:
df[(df['OUTCOME']=='WIN')&(df['BLUE_TEAM']=='mcts')].groupby('RED_TEAM').count()

          MAP  BLUE_TEAM  TEAM_START  WINNER  POINTS  OUTCOME
RED_TEAM
h3         77         77          77      77      77       77

In [31]:
df2 = pd.read_csv('/Users/k/Downloads/HybridV4_and_HybridV5_vs_All.csv')

In [33]:
df2['BLUE_TEAM'].value_counts()

AStar           273
mcts            273
MDP             273
MDP.v4.1        272
baselineTeam    271
Name: BLUE_TEAM, dtype: int64

In [50]:
df['BLUE_TEAM'].value_counts()

myTeamAStar     137
leeroy          137
baselineTeam    137
mcts            137
MDP.v4.1        136
MDPv2            59
Name: BLUE_TEAM, dtype: int64

In [52]:
def furm(x):
    if x=='myTeamAStar': return 'AStar'
    if x=='mcts': return 'mcts'
    if x=='baselineTeam': return 'baselineTeam'
    if x=='MDP.v4.1': return 'MDP.v4.1'
    if x=='MDPv2': return 'MDP'

In [55]:
df['BLUE_TEAM'] = df['BLUE_TEAM'].apply(lambda x: furm(x))

In [58]:
df['RED_TEAM'] = 'HybridV3'

In [59]:
df.head()

,MAP,RED_TEAM,BLUE_TEAM,TEAM_START,WINNER,POINTS,OUTCOME
0,FIXEDalleyCapture,HybridV3,AStar,Red team starts,Red,5,WIN
1,FIXEDbloxCapture,HybridV3,AStar,Red team starts,Red,10,WIN
2,FIXEDcrowdedCapture,HybridV3,AStar,Blue team starts,Red,12,WIN
3,FIXEDdefaultCapture,HybridV3,AStar,Red team starts,0,0,TIE
4,FIXEDdistantCapture,HybridV3,AStar,Red team starts,0,0,TIE

In [62]:
df3 = pd.concat([df2, df], axis=0)

In [68]:
df3.to_csv('/Users/k/Desktop/runs/combined.csv', index=False)